*{
  margin: 0;
  padding: 0;
}

.cabecalho {
  background-color: rgb(1, 2, 70);
  color:antiquewhite;
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 50 px 0;
}

.cabecalho-imagem{
  width: 18%;
}



.cabecalho-lista-item {
  display: inline-block;
  margin: 0 100px;
 font-size: 80px;
}

.tecnico {
  background-image: linear-gradient(#040e48,#120912);
  color: white;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tecnico-div-conteudo{
      width: 30%;
      font-size: 50px;
      
  }
.tecnico-titulo{
  
  padding: 28px 0;
  font-size: 50px;
 }
.ilustra-curso {
  height: 10px;
  padding: 30px;
 }

.body {}
  font-family, sans-serif
  .estudante.titulo{
      text-align: center;
      padding: 50px;
  } 
  .estudante-imagem{
      height:200px;
      
  }
  .estudante-icone{
    width: 80px;


  }
.estudante-div{
  text-align: center; 

  padding: 40px 0;
  
}
.estudante-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}
.rodape{
background-color: #181e41;
color: azure;
text-align: center;
padding: 70px 0;

}
.cabecalho-lista-item :hover{
 color: #00f7ff;
 text-decoration: underline;
}
.escola{
  background-color: #181e41;
color: azure;
text-align: center;
padding: 70px 0;
  


}


